body {
  background-color: #58A4B0;
  color: white;
  margin: 0;
}
header {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
}
header h1 {
  margin: 0;
}
nav {
  background-color: #2B303A;
  overflow: auto;

}
nav ul {
  list-style: none;
  font-size: 1.5em;
  margin: 0 auto;
  width: 800px;
  padding: 0;
}
nav li {
  float: left;
}
nav a {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  border-right: 1px solid #dddddd;
}
nav a:hover {
  background-color: #9EADC8;
}
main {
  min-height: 300px;
}
footer {
  border-top: 1px solid #2B303A;
  text-align: right;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  padding-right: 0.5em;
}
footer a:hover {
  color: #9EADC8;
}
