body {
  background-color: #58A4B0;
  color: white;
  margin: 0;
}
header {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
}
header h1 {
  margin: 0;
}
