* , *:before, *:after{
    box-sizing:border-box;
  }
body {
  background-color: #58A4B0;
  color: white;
  margin: 0;
}
header {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
}
header h1 {
  margin: 0;
}
nav {
  background-color: #2B303A;
  overflow: auto;
}
nav ul {
  list-style: none;
  font-size: 1.5em;
  margin: 0 auto;
  /* width: 800px; */
  padding: 0;
  float: right;
}
nav li {
  float: left;
}
nav a {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  border-right: 1px solid #dddddd;
}
nav a:first-of-type {
  border-left: 1px solid #dddddd;
}
nav a:hover {
  background-color: #9EADC8;
}
main {
  min-height: 300px;
  background-color: #efefef;
  }
main aside {
  width: 20%;
  display: inline-block;
  padding: 1em;
  color: black;
  vertical-align: top;
}
main aside button {
  background-color: blue;
  font-weight: bold;
  font-size: 1.5em;
  width: 250px;
  height: 75px;
}
main section {
  width: 79%;
  border-left: 1px solid #dddddd;
  display: inline-block;
  padding-left: 1em;
  color: black;
}
main section img {
  width: 200px;
  float: left;
  margin: 0 0.5em 0.5em 0;
}
footer {
  border-top: 1px solid #2B303A;
  text-align: right;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  padding-right: 0.5em;
  padding-top: 0.5em;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: blue;
}
